nav{
    background-color: blue;
   padding: 10px;
   display: flex;
}
.div{
    border: 5px double burlywood;
    height: 500px;
    width: 1000px;
    margin-left: 50px;
}
.img{
    background-image: url('./images/pic.jpg');
}
#n1{
    display: flex;
    justify-content: space-between;
    width: 60%
}
#n2{
width: 30%;

}
#img{
    border: 1px solid brown;
    border-radius: 50%
}
#n3{
border: 1px solid white;
width: 100%;
height: 300px;
}
#n4{
    background-image: url('./images_2.jpeg');
    
    background-repeat: no-repeat;
}
span{
    margin: 0%;
    padding: 0%;
    letter-spacing: -5px;
}
#s1{
color: red;
}
#s2{
    color: blue;
}
#s3{
    color: brown;
}
#s4{
    color: blueviolet;
}